<app-home-navbar></app-home-navbar>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

  <!-- Contact Us Section -->
    <section class="Material-contact-section section-padding section-dark">
      <div class="container">
          <div class="row">
              <!-- Section Titile -->
              <div class="col-md-12 wow animated fadeInLeft" data-wow-delay=".2s">
                  <h1 class="section-title">How can we help you?</h1>
              </div>
          </div>
          <div class="row">
              <!-- Section Titile -->
              <div class="col-md-6 mt-3 contact-widget-section2 wow animated fadeInLeft" data-wow-delay=".2s">
                <p>
                
                </p>

                <div class="find-widget">
                 Company:  <a href="https://hostriver.ro">LTI</a>
                </div>
                <div class="find-widget">
                 Address: <a href="#">Mahape II Block II</a>
                </div>
                <div class="find-widget">
                  Phone:  <a href="#">+91 85730XXXX</a>
                </div>
                
                <div class="find-widget">
                  Website:  <a href="https://uny.ro">www.lntinfotech.com</a>
                </div>
                <div class="find-widget">
                   Program: <a href="#">Monday to Saturday</a>
                </div>
                
              </div>
              
              <div class="col-md-6 mt-3 contact-widget-section2 wow animated fadeInLeft" data-wow-delay=".2s">
              <img src="https://www.seekpng.com/png/detail/125-1254954_contact-us-png-images-for-website.png" alt="" height="400" width="600">
                
              </div>
              
              
          </div>
      </div>
    </section>
