
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
        <!-- <fa-icon style="color:white;font-size:2rem; padding-right:1%;" [icon]="faComputer"></fa-icon> -->
      <a class="navbar-brand" href="#" style="color:white;font-weight: bold;">Examly</a>
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="padding: left 2%;">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#" style="color:white;">Home</a>
          <a class="nav-link" href="#"  style="color:white;">Add Question</a>
          <a class="nav-link" href="#"  style="color:white;">Remove Question</a>
          <a class="nav-link" href="#"  style="color:white;">Search student</a>
          
          
        </div>
      </div>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <button class="btn btn-danger" type="button">Logout</button>
      </ul>
  </nav>
<div class="card">
    <form>
<h4>Technology</h4>
<select type="option" name="Technology" placeholder="Technology" class="Technology">
    <option selected disabled hidden style='display: none'value='undefined'>Select: </option>
    <option >Java</option>
    <option >C++</option>
    <option >C#</option>
    </select><br><br>
    <h4>States</h4>
    <select type="option" name="Sates" placeholder="States" class="states">
        <option selected disabled hidden style='display: none'value='undefined'>Select: </option>
        <option >Punjab</option>
        <option >Maharashtra</option>
        <option >Bihar</option>
        </select><br><br>
        <h4>City</h4>
        <select type="option" name="City" placeholder="City" class="City">
            <option selected disabled hidden style='display: none'value='undefined'>Select: </option>
            <option >Ludhiana</option>
            <option >Bangalore</option>
            <option >Chandigarh</option>
            </select><br><br>
            <h4>Level</h4>
            <select type="option" name="Level" placeholder="Level" class="Level">
                <option selected disabled hidden style='display: none'value='undefined'>Select: </option>
                <option >1</option>
                <option >2</option>
                <option >3</option>
                </select><br><br>
                <h4>Marks</h4>
                <select type="option" name="Marks" placeholder="Marks" class="Marks">
                    <option selected disabled hidden style='display: none'value='undefined'>Select: </option>
                    <option >40-60%</option>
                    <option >20-40%</option>
                    <option >0-20%</option>
                    </select><br><br><br>
                    <button type="Login" class="btn btn-primary">Submit</button> </form>   
        
        </div>