<app-home-navbar></app-home-navbar>
<div class="row">
    <div class="col-lg-6">
        <img src="https://i.pinimg.com/564x/8e/cc/f4/8eccf43788d8c5d838a58892f9d0047c.jpg" alt="" height="680" width="1210">
    </div>
    
        <div class="col-lg-6">
            <div class="container">
                <table>
                    <tr>
                        <td>
                            <div class="card" style="width: 18rem;">
                                <img src="https://i.pinimg.com/564x/c7/80/3f/c7803f755d3b068388dea9095755a7aa.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Student</h5>
                               
                                  <a routerLink="/login" class="btn btn-primary">Student LOGIN</a>
                                </div>
                              </div>
                        </td>
                    </tr><br>
                    <tr>
                        <td>
                            <div class="card" style="width: 18rem;">
                                <img src="https://www.go.ooo/img/bg-img/Login.jpg" class="card-img-top" alt="..." height="200" width="200">
                                <div class="card-body">
                                  <h5 class="card-title">Admin</h5>
                               
                                  <a routerLink="/admin-login" class="btn btn-primary">ADMIN LOGIN</a>
                                </div>
                              </div>
                        </td>
                    </tr>                    
                </table>
                
                </div>
        </div>
       
        </div>
       
    
  
